<div class="history">
    <span>
      Universiti Sains Malaysia (lit. 'Science University of Malaysia'; abbreviated as USM) is a public research university in Malaysia. Founded on 1 June 1969 as a statutory body with its own constitution, it is among the oldest institutes of higher learning in Northern Malaysia. It has three campuses: a main campus on the island of Penang, a health campus in Kelantan, and an engineering campus in Nibong Tebal. There is currently an overseas collaboration with KLE University, India offering the Doctor of Medicine (USM) undergraduate degree. USM plans to open a Global Campus (Kuala Lumpur Campus) in Kuala Lumpur Education City (KLCE).

      With around 28,300 postgraduate and undergraduate students in 2009, USM is one of the largest universities in terms of enrollment in Malaysia. The number of lecturers is about 1,479, which leads to a student-lecturer ratio of around 19:1. 
    </span>
  </div>