<div class="history">
    <span>
      In the beginning, Florence was a fortified camp called Florentia that lay on the Via Cassia, a Roman road that ran
      between the foothills of the Apennines and the western coast of Italy, on the Tyrrhenian sea. It was the principal
      route between Rome and the North.
  
      Florence was originally founded by the Etruscans between the 6th and 7th centuries BC. This civilization came from
      Asia Minor and then settled in the Tuscany area. Since Florence was located at the base of the Apennine Mountains,
      the Etruscans preferred to build their town on a slope a few kilometres away for better protection, founded where
      modern day Fiesole is located. During this period, Florence depended completely on Fiesole.
  
      The objects and archaeological remains found in this area are evidence of the Etruscan’s presence in the Florentine
      region. To see these startling findings, we recommend going to the National Archaeological Museum of Florence.
  
      In 395 BC the Etruscan civilization was suppressed by Rome. In the following years, the Romans founded Florentia, a
      town established on the ashes of the Etruscan village.
  
      During the Middle Ages, Florence became more influential than its neighbouring Fiesole, known as Faesulae when it
      was conquered by the Romans as a result of its agricultural potential and its great location on the Via Cassia. In
      the sixth century, the Lombards ruled Florence.
    </span>
  </div>