<div class="ui menu bottombar">
    <div class="item">
      <a href="https://www.instagram.com/chengjieooi/"> Instagram. </a>
    </div>
    <div class="item">
      <a href="https://github.com/jiechengooi"> Github. </a>
    </div>
    <div class="right menu">
      <button class="ui primary basic button" style="box-shadow: 0 0 0 1px white inset!important;"> <a href="https://en.wikipedia.org/wiki/Florence"> Learn More </a></button>
    </div>
    <div class="right menu">
      <div class="item">
        <a href="https://chengjie.netlify.app/"> 2021@All right reserved. Developed by cheng jie<i class="angle right icon"></i></a>
      </div>
    </div>